<div id="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- breadcrumb-->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li aria-current="page" class="breadcrumb-item active">Shopping cart</li>
            </ol>
          </nav>
        </div>
        <div id="basket" class="col-lg-9">
          <div class="box">
            <form method="post" action="checkout1.html">
              <h1>Shopping cart</h1>
              <p class="text-muted">You currently have 3 item(s) in your cart.</p>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2">Product</th>
                      <th>Quantity</th>
                      <th>Unit price</th>
                      <th>Shipping </th>
                      <th colspan="2">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of MyCardItems">
                      <td><img src="data:image/jpeg;base64,{{item.image}}" alt="White Blouse Armani">
                      </td>
                      <td><a [routerLink]="">{{item.Name}}</a></td>
                      <td>
                        <input (input)="updateTotalPrice(item,$event)" min=1 type="number" name="amount"
                          [value]="item.amount" class="form-control">
                      </td>
                      <td>{{item.price  | currency}}</td>
                      <td>$10.00</td>
                      <td>{{item.total+10 | currency}}</td>
                      <td><span (click)="DeleteElement(item)"><i class="fa fa-trash-o"></i></span></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="5">Total</th>
                      <th colspan="2">{{totalCardPrice+(i*10) | currency}}</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.table-responsive-->
              <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                <div class="left"><a routerLink="/Category/2/Products" class="btn btn-outline-secondary mb-3"><i
                      class="fa fa-chevron-left"></i> Continue shopping</a></div>
                <div class="right">
                  <button class="btn btn-outline-secondary" (click)="updateCard()"><i class="fa fa-refresh"></i> Update
                    cart</button>
                  <button type="submit" class="btn btn-primary">checkout <i class="fa fa-chevron-right"></i></button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.box-->
        </div>
        <!-- /.col-lg-9-->
        <div class="col-lg-3">
          <div id="order-summary" class="box">
            <div class="box-header">
              <h3 class="mb-0">Order summary</h3>
            </div>
            <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Order subtotal</td>
                    <th>{{totalCardPrice | currency}}</th>
                  </tr>
                  <tr>
                    <td>Shipping and handling</td>
                    <th>$10.00</th>
                  </tr>
                  <tr>
                    <td>Tax</td>
                    <th>$0.00</th>
                  </tr>
                  <tr class="total">
                    <td>Total</td>
                    <th>{{totalCardPrice+(i*10) | currency}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <!-- /.col-md-3-->
      </div>
    </div>
  </div>
</div>
