<div id="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- breadcrumb-->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li aria-current="page" class="breadcrumb-item active">Ladies</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-3">
          <!--
            *** MENUS AND FILTERS ***
            _________________________________________________________
            -->
          <div class="card sidebar-menu mb-4">
            <div class="card-header">
              <h3 class="h4 card-title">Categories</h3>
            </div>
            <div class="card-body">
              <ul class="nav nav-pills flex-column category-menu" *ngFor="let item of categories">
                <li (click)="changedata(item.id)">
                  <a [routerLink]="['/Category',item.id,'Products']" routerLinkActive="active"
                    class="nav-link">{{item.cateogoryName}} <span class="badge badge-secondary">42</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- *** MENUS AND FILTERS END ***-->
        </div>
        <div class="col-lg-9">
          <div class="box">
            <h1>Ladies</h1>
            <p>In our Ladies department we offer wide selection of the best products we have found and carefully
              selected worldwide.</p>
          </div>
          <div class="box info-bar">
            <div class="row">
              <div class="col-md-12 col-lg-4 products-showing">Showing <strong>12</strong> of <strong>25</strong>
                products</div>
            </div>
          </div>

          <!---------------Zahaby------------------------------------------->
          <div class="row products">
            <div class="col-lg-4 col-md-6" *ngFor="let item of productContainer">
              <div class="product">
                <div class="flip-container">
                  <div class="flipper">
                    <div class="front"><img src="../assets/img/product1.jpg" alt="" class="img-fluid"></div>
                    <div class="back"><img src="../assets/img/product1_2.jpg" alt="" class="img-fluid"></div>
                  </div>
                </div><img src="../assets/img/product1.jpg" alt="" class="img-fluid">
                <div class="text">
                  <h3>{{item.productName}}</h3>
                  <p class="price">
                    <del></del>{{item.price|  currency }}
                  </p>
                  <p class="buttons">
                    <!-- <a [routerLink]="['/Category',item.CategoryId,'Products',item.ProductId]"
                      class="btn btn-outline-secondary">View detail</a> -->
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-------------------end Zahaby--------------------------------------->
          <div class="pages">
            <p class="loadMore btn btn-primary btn-lg">
              <i class="fa fa-chevron-down"></i> Load more
            </p>
            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
              <ul class="pagination">
                <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span
                      aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span
                      aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /.col-lg-9-->
      </div>
    </div>
  </div>
</div>
