<header class="header mb-5 sticky-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container"><a routerLink="/Home" class="navbar-brand home"><img src="../assets/img/logo.png"
          alt="Obaju logo" class="d-none d-md-inline-block"><img src="../assets/img/logo-small.png" alt="Obaju logo"
          class="d-inline-block d-md-none"><span class="sr-only">Obaju - go to homepage</span></a>
      <div class="navbar-buttons">
        <button type="button" data-toggle="collapse" data-target="#navigation"
          class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i
            class="fa fa-align-justify"></i></button>
        <button type="button" data-toggle="collapse" data-target="#search"
          class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i
            class="fa fa-search"></i></button><a routerLink="/myCard"
          class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
      </div>
      <div id="navigation" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a routerLink="/Home" routerLinkActive="active" class="nav-link">Home</a></li>
          <li class="nav-item"><a [routerLink]="['/Category/2/Products']" routerLinkActive="active"
              class="nav-link">Products</a>
          </li>
          <li class="nav-item"><a routerLink="/myOrders" routerLinkActive="active" class="nav-link">My Orders</a></li>
        </ul>
        <div class="navbar-buttons d-flex justify-content-end">
          <!-- /.nav-collapse-->
          <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search"
            class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i
              class="fa fa-search"></i></a>
          <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a routerLink="/myCard"
              class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>{{len}} items in
                cart</span></a>
          </div>
        </div>
      </div>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdownMenuLink" role="button"
            data-mdb-toggle="dropdown" aria-expanded="false">
            <span class="mx-3">{{ username }}</span>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="22"
              alt="Avatar" loading="lazy" />
          </a>
          <ul id="hamada" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" *ngIf="!isLogedIn()" routerLink="/Login" data-toggle="modal"
                data-target="#login-modal">Login</a>
            </li>
            <li>
              <a class="dropdown-item" *ngIf="!isLogedIn()" routerLink="/Register">Register</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/MyOrders">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" style="cursor: pointer" *ngIf="isLogedIn()" (click)="Logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </nav>
  <div id="search" class="collapse">
    <div class="container">
      <form role="search" class="ml-auto">
        <div class="input-group">
          <input type="text" placeholder="Search" class="form-control">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</header>
