<div id="all">
  <div id="content">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <div class="box">
            <h1>New account</h1>
            <hr>
            <form action="customer-orders.html" method="post" [formGroup]="RegisterForm" (ngSubmit)="Register()">
              <div class="form-group">
                <label for="name">User Name</label>

                <!-- userName -->
                <input (input)="changeflag()" id="name" type="text" class="form-control" formControlName="userName">
                <div *ngIf="RegisterForm.get('userName')!.invalid && 
                RegisterForm.get('userName')!.errors && 
                (RegisterForm.get('userName')!.dirty || RegisterForm.get('userName')!.touched)">
                  <small class="text-danger" *ngIf="RegisterForm.get('userName')!.hasError('required')">
                    This field is required.
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <!-- Email -->
                <input (input)="changeflag()" id="email" type="text" class="form-control" formControlName="email">
                <div *ngIf="RegisterForm.get('email')!.invalid && 
                RegisterForm.get('email')!.errors && 
                (RegisterForm.get('email')!.dirty || RegisterForm.get('email')!.touched)">
                  <small class="text-danger" *ngIf="RegisterForm.get('email')!.hasError('required')">
                    This field is required.
                  </small>
                  <small class="text-danger" *ngIf="RegisterForm.get('email')!.hasError('email')">
                    Valid Email required
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <!-- Password -->
                <input (input)="changeflag()" id="password" type="password" class="form-control"
                  formControlName="password">
                <div *ngIf="RegisterForm.get('password')!.invalid && 
                RegisterForm.get('password')!.errors && 
                (RegisterForm.get('password')!.dirty || RegisterForm.get('password')!.touched)">
                  <small class="text-danger" *ngIf="RegisterForm.get('password')!.hasError('required')">
                    This field is required.
                  </small>
                  <small class="text-danger" *ngIf="RegisterForm.get('password')!.hasError('pattern')">
                    Password Should has [@ , A-Z , a-Z ] And Length at least 8 character
                  </small>
                </div>
              </div>
              <div class="form-group">
                <!-- Phone Number -->
                <label for="PhoneNumber">Phone Number</label>
                <input (input)="changeflag()" id="PhoneNumber" type="text" class="form-control"
                  formControlName="phoneNumber">
                <div *ngIf="RegisterForm.get('phoneNumber')!.invalid && 
                RegisterForm.get('phoneNumber')!.errors && 
                (RegisterForm.get('phoneNumber')!.dirty || RegisterForm.get('phoneNumber')!.touched)">
                  <small class="text-danger" *ngIf="RegisterForm.get('phoneNumber')!.hasError('minLength')">
                    MinLength 11 Number
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label>Address</label>
                <!-- Address -->
                <input (input)="changeflag()" id="Address" name="Address" type="text" class="form-control"
                  formControlName="address">
                <div *ngIf="RegisterForm.get('address')!.invalid && 
                RegisterForm.get('address')!.errors && 
                (RegisterForm.get('address')!.dirty || RegisterForm.get('address')!.touched)">
                  <small class="text-danger" *ngIf="RegisterForm.get('address')!.hasError('required')">
                    This field is required.
                  </small>
                </div>
              </div>
              <div class="text-center">

                <div class="alert alert-danger" role="alert" *ngIf="errflag==true">
                  Username or Email already Used
                </div>
                <!-- submit button -->
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalRelatedContent"
                  [disabled]="!RegisterForm.valid"><i class="fa fa-user-md"></i> Register</button>
                <button type="submit" class="btn btn-link"><i class="fa fa-user-md"></i> Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
