<!--Modal: modalRelatedContent-->
<div class="modal fade right" id="modalRelatedContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header bg-primary">
        <p class="heading">Register Success</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-6">
            <a routerLink="/Login" routerLinkActive="router-link-active" class="btn btn-success btn-md">Login Now</a>
          </div>
          <div class="col-6">
            <a routerLink="/Category/2/Products" routerLinkActive="router-link-active" class="btn btn-info btn-md">Go
              to Shopping</a>
          </div>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalRelatedContent-->
<div id="all">
  <div id="content">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <div class="box">
            <h1>New account</h1>
            <hr>
            <div *ngIf="RegisterForm.invalid && (RegisterForm.dirty || RegisterForm.touched)"
              class="alert alert-danger">
              <div *ngIf="RegisterForm.errors?.['minLength']">
                Name is required.
              </div>
            </div>
            <form action="customer-orders.html" method="post" [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="name">User Name</label>
                <input id="name" type="text" class="form-control" formControlName="userName">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="text" class="form-control" formControlName="email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" formControlName="password">
              </div>
              <div class="form-group">
                <label for="PhoneNumber">Phone Number</label>
                <input id="PhoneNumber" type="text" class="form-control" formControlName="phoneNumber">
              </div>
              <div class="form-group">
                <label>Address</label>
                <input id="Address" name="Address" type="text" class="form-control" formControlName="address">
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalRelatedContent"
                  [disabled]="!RegisterForm.valid"><i class="fa fa-user-md"></i> Register</button>
                <button type="submit" class="btn btn-link"><i class="fa fa-user-md"></i> Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
