<div id="all" style="margin-bottom:100px;">
  <div id="content">
    <div id="hot">
      <div class="box py-4">
        <div class="container" id="ourcatigories">
          <div class="row">
            <div class="col-md-12">
              <h2 class="mb-0">Our Categories</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-6 custom-card" *ngFor="let item of catContainer" (click)="ShowProduct(item.id)">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="data:image/jpeg;base64,{{item.image}}" alt="" class="img-fluid h-100 w-100">
              </div>
              <div class="flip-card-back">
                <img src="data:image/jpeg;base64,{{item.image}}" alt="" class="img-fluid h-100 w-100">
              </div>
            </div>
            <div class="bg-light d-flex align-items-center justify-content-center" style="height: 50px;">
              <h3>{{item.cateogoryName}}</h3>
            </div>
            <!-- /.ribbon-->
            <div class="ribbon new" *ngIf="item.id>400">
              <div class="theribbon">NEW</div>
              <div class="ribbon-background"></div>
            </div>
          </div>
          <!-- /.text-->
          <div class="ribbon sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
