<!-- /#advantages-->
<!-- *** ADVANTAGES END ***-->
<!--
      *** HOT PRODUCT SLIDESHOW ***
      _________________________________________________________
      -->
<div id="all">
  <div id="content">
    <div id="hot">
      <div class="box py-4">
        <div class="container" id="ourcatigories">
          <div class="row">
            <div class="col-md-12">
              <h2 class="mb-0">Hot this week</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="product-slider owl-carousel owl-theme">
          
         <div class="item" *ngFor="let item of catContainer">
            <div class="product" (click)="ShowProduct(item.Id)">
              <div class="flip-container">
                <div class="flipper">
                  <div class="front"><img src="https://picsum.photos/200/300" alt=""
                        class="img-fluid">
                  </div>
                  <div class="back"><img src="https://picsum.photos/200/300" alt=""
                        class="img-fluid">
                  </div>
                </div>
              </div><img src="https://picsum.photos/200/300" alt=""
                  class="img-fluid">
              <div class="text">
                <h3>{{item.CategoryName}}</h3>
              </div>
              <!-- /.text-->
              <div class="ribbon sale" *ngIf="item.Id>400">
                <div class="theribbon">SALE</div>
                <div class="ribbon-background"></div>
              </div>
              <!-- /.ribbon-->
              <div class="ribbon new">
                <div class="theribbon">NEW</div>
                <div class="ribbon-background"></div>
              </div>
              <!-- /.ribbon-->
              <div class="ribbon gift">
                <div class="theribbon">GIFT</div>
                <div class="ribbon-background"></div>
              </div>
              <!-- /.ribbon-->
            </div>
            <!-- /.product-->
          </div>





      <!-- /#hot-->
      <!-- *** HOT END ***-->
    </div>
  </div>
</div>
